<!DOCTYPE html>
<html>

<head>

<link rel="stylesheet"
href="../static/style.css">

</head>

<body>

<header>

<div class="logo">
<img src="../static/images/logo.jpeg">
Health Bridge
</div>

<nav>
<a href="index.html">Home</a>
<a href="dashboard.html">Dashboard</a>
<a href="profile.html">Profile</a>
<a href="settings.html">Settings</a>
</nav>

</header>


<div class="container">

<h1>Questionnaire</h1>

<p>
How often do you exercise?
</p>


<label class="option">

<input
type="radio"
name="exercise">

Daily

</label>


<label class="option">

<input
type="radio"
name="exercise">

Weekly

</label>


<label class="option">

<input
type="radio"
name="exercise">

Rarely

</label>


<a class="btn"
href="dashboard.html">

Finish

</a>

</div>

</body>
</html>